html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Russo One", sans-serif;*/
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;

  font-style: normal;
}

.header {
  position: absolute;
  z-index: 5;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}
.header__logo {
}
.logo {
}
.social {
}
.sotial__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.sotial__item {
  color: #000;
}

.sotial__item:hover {
  color: #52bedc;
}
.sotial__link {
}
.social__link {
}
.top {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.swiper {
  height: 100vh;
}
.top__swiper {
}
.swiper-wrapper {
}
.swiper-img {
  object-fit: cover;
}
.swiper-slide {
}
/* .top__details::after {
  content: "";
  position: absolute;

  width: 825px;
  bottom: 0;
  right: 0;

  top: 0;
  left: auto;
  margin-right: -25px;
  margin-top: -55px;
  width: 624px;
  height: 370px;
  background-image: url(../images/top-shape.svg);
  
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
} */

.top__details {
  position: absolute;
  z-index: 2;
  background-image: url(../images/top-shape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 625px;
  height: 370px;
  bottom: 0;
  right: 10%;
}

.top__details-title {
  display: block;
  font-family: "Russo One", sans-serif;
  font-size: 62px;
  font-weight: 200;
  line-height: 1.3;

  padding-top: 60px;
  padding-left: 35px;
  padding-bottom: 25px;
}
.top__details-btn {
  display: inline-block;
  padding: 20px 50px;
  margin-left: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  background-color: #000;
  color: #f8f200;
  text-transform: uppercase;
  transition: background-color 0.3s;
}
.top__details-btn:hover {
  background-color: #52bedc;
}
/* ==========description */
.description {
  margin-bottom: 70px;
}

.description__title {
  padding-top: 70px;
  display: block;
  font-family: "Russo One", sans-serif;
  font-size: 52px;
  font-weight: 100;

  padding-bottom: 25px;
}
.description__text {
  max-width: 952px;
  width: 100%;
  line-height: 1.8;
  margin-bottom: 70px;
}
.description__text span {
  color: #52bedc;
}

/* +++++++++++++++++++GRID??????????????????? */

.description__images {
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr, 5fr;
  grid-template-rows: 1fr 1fr;

  gap: 20px 20px;
  /* justify-content: space-between; */
}
/* .description__images-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: 460px;
  width: 100%;
  height: auto;
} */
.description__img {
  object-fit: cover;
  width: 100%;
}
.description__images-inner-big {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  /* max-width: 790px; */
  /* width: 100%;
  height: 100%; */
}
.description__img-big {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* =========event */
.event {
  background-color: #000;
  padding-bottom: 70px;
}
.section__spacer {
  width: 100%;
}

.event__top {
}
.event-logo {
}
.event__title {
  padding-top: 70px;
  display: block;
  font-family: "Russo One", sans-serif;
  font-size: 52px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 40px;
  padding-left: 165px;
}
.event-text {
  color: #fff;
  margin-bottom: 50px;
  max-width: 950px;
}
.event-text span {
  color: #52bedc;
}
.event__bottom {
  display: flex;
  justify-content: space-between;
}
.event__bottom-forms {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 460px;
}
.event-name::placeholder,
.event-email::placeholder {
  color: #fff;
  background-color: #000;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  font-weight: 200;
}
.event-email,
.event-name {
  width: 460px;
  height: 35px;
  color: #fff;
  background-color: #000;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 200;
  padding-bottom: 15px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 35px;
}
.event-screenshot {
  display: block;
  height: 120px;
  width: 460px;
  color: #fff;
  border: 1px dashed #777;
  text-align: center;
}
.event-screenshot-link {
  display: block;
  padding-top: 36px;
}

.event-screenshot span:first-child {
  display: block;
  margin-bottom: 10px;
  text-decoration: underline;
}
.event__btn {
  display: inline-block;
  padding: 15px 50px;
  background-color: #f8f200;
  max-width: 190px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: auto;
  margin-bottom: 15px;
}
.event__btn:hover {
  background-color: #52bedc;
}
.event__bottom-image {
  position: relative;
  display: block;
  max-width: 790px;
  flex-basis: 790px;
  width: 100%;
  text-align: end;
}
.event__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.event__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.event__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/check-0.svg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: content-box;
}
.event__checkbox:checked + label::before {
  background-color: #10100f;
  width: 16px;
  height: 16px;
  background-image: url(../images/check.svg);
  background-size: cover;
  box-sizing: content-box;
}
.event__check-text span {
  color: #fff;
  font-weight: 200;
  padding-left: 20px;
}
.x-box {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 40%;
}
.ps5 {
  position: relative;
  z-index: 4;
}
/* ==========hp */
.hp {
  background-color: #f8f200;
}
.section__spacer {
}

.hp__inner {
  padding-top: 70px;
  display: flex;
  gap: 30px;
  padding-bottom: 80px;
}
.hp__item {
  width: 50%;
}
.hp-disp {
}
.hp__brends {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
.hp__brends-item {
}
.hp__brends-logo {
}
.hp__title {
  display: block;
  font-family: "Russo One", sans-serif;
  font-size: 52px;
  font-weight: 100;
  line-height: 1.4;
  color: #000;
  margin-bottom: 25px;
}
.hp__text {
  margin-bottom: 25px;
}
.hp__benifits {
  margin-bottom: 40px;
}
.hp__benifits-item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.hp__benifits-btn {
  display: inline-block;
  padding: 20px 50px;
  background-color: #000;
  color: #f8f200;
  font-size: 18px;
  line-height: 1.2;
  transition: background-color 0.3s;
}
.hp__benifits-btn:hover {
  background-color: #52bedc;
}
/* =============sale */

.sale {
  overflow-y: hidden;
}

.sale__inner {
  display: flex;
}
.sale__img {
  display: block;

  flex-basis: 49%;
}
.sale__img img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.sale__content {
  padding-left: 30px;
  background-color: #000;
  width: 51%;
}
.sale__title {
  display: block;
  font-family: "Russo One", sans-serif;
  font-size: 52px;
  font-weight: 100;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 25px;
  padding-top: 70px;
}
.sale__description-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 55px;
}
.sale__description-box {
}
.sale__description-title {
  margin-bottom: 25px;
  color: #52bedc;
  font-weight: 700;
}

.sale__description-item {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  color: #fff;
}
.sale__description-item p {
  margin-left: 10px;
}
.sale__brands {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-bottom: 70px;
}
/* ==========footer */
.footer {
}

.footer__top {
  padding: 13px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logos > a {
  margin-right: 30px;
}
.footer__license-box {
}
.footer__license-link {
  cursor: pointer;
  margin-left: 30px;
}
.footer__license-link:hover {
  text-decoration: underline;
}
.footer__bottom {
  background-color: #000;
  color: #fff;
}
.footer__bottom-item {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
